extends layout
block content

    h1 Top Secret Website

    h2 Please log in here

    p=message

    form(action='/login' method='post')
        label username
        input(name='username' type='text' required)
        br
        label password
        input(name='password' type='password' required)
        br
        input(name='login_button' type='submit' value='Login')

    | <p>If you don't have an account then you can <a href="/signup"> sign up here</a></p>

